@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102a.woff2"), url("/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102a.woff2"), url("/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
